In [1]:
import numpy as np
from sympy import Eq, diff, symbols, expand, solve
import matplotlib.pyplot as plt
import pandas as pd

In [59]:
table = pd.read_csv("CO_2_data.csv")
table

    year    co2
0   1940   4.85
1   1941   4.97
2   1942   4.95
3   1943   5.04
4   1944   5.11
..   ...    ...
78  2018  36.83
79  2019  37.08
80  2020  35.26
81  2021  37.12
82  2022  37.49

[83 rows x 2 columns]

In [48]:
nodes = table["year"]
values = table["co2"]

a = symbols("a")
b = symbols("b")

In [ ]:
expression = 0
for x, y in zip(nodes, values):
    expression += (y - (a * x + b)) ** 2

In [ ]:
eq1 = Eq(diff(expression, a), 0)
eq2 = Eq(diff(expression, b), 0)
equetions = [eq1, eq2]

solutions = solve(equetions)
print(solutions)